[build]
  command = "npm run build"
  publish = "build"

[[plugins]]
  package = "@netlify/plugin-prerender"
  [plugins.inputs]
    crawl = true

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["node-fetch"]

[build.environment]
  NODE_VERSION = "18"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOWALL"

[[redirects]]
  from = "/xano/*"
  to = "/.netlify/functions/xano-proxy/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
