[build]
  command = "npm run build"
  publish = "build"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["node-fetch"]

[build.environment]
  NODE_VERSION = "18"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOWALL"

[[redirects]]
  from = "/xano/*"
  to = "https://xajo-bs7d-cagt.n7e.xano.io/api:iZd1_fI5/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
