[build]
  command = "rm -rf build && npm run build"
  publish = "build"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["node-fetch"]

[build.environment]
  NODE_VERSION = "18"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOWALL"
